/* Created by: Kai Nguyen
* Created on: May 2024
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
    justify-content: center;
    padding: 0;
  }
  
  .mdl-layout__content {
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 15pt;
  }
  
  img {
    height: auto;
    width: 300px;
  }
  
  .page-content {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    padding-bottom: 20px;
  }
  
  .page-content-current-score {
    color: rgb(0 0 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    float: right;
  }

  .page-content-high-score {
    color: rgb(0 0 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    text-align: right;
  } 
  
  .page-content-answer {
    color: rgb(0 0 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
  } 

  .textbox {
    border-color: black;
    background-color: white;
    width: 500px;
    height: 300px;
    border-style: solid;
  }

  body {
    background-color: cornflowerblue;
  }